/*
Description:  WSD 2018, Group Work, Alphabet Game

Author: Jyrki Iivainen
*/

.grid-item {
	display: inline-block;
	width: 4vw; 
	margin: 1vw; 
	padding: 1vw;
	border-style: solid;
	border-color: Black;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 5vw;
	background-color:DodgerBlue;
	color:White;
	cursor: pointer;
}

#help-text {
	border-style: solid;
	font-size: 4vw;
}

.points {
	font-size: 4vw;
}

#points-frame {
	border-style: solid;
	font-size: 2vw;
}

.button {
	font-size: 4vw;
}
